/* Basic styles */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #262626;
    line-height: 1.6;  
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h2 {
	margin: 0;
}

h2 a {
	font-size: 90px;
	font-weight: 700;
}

a, button{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    line-height: 1;
    outline: none;
    border: none;
}

h2 a:hover {
	border-bottom: 2px solid #BABF4F;
}

button {
    padding: 15px 25px;
    color: #fff;
	text-transform: uppercase;
}

/* Typography */


/* Additional styles or modificators */
.text-left{
    text-align: left !important;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

/* Grid */
.container{
    display: block;
    margin: auto;
    padding: 0 15px;
    width: 100%;
    /* max-width: 1500px; */
	max-width: 1200px;
}

.row{
    margin: 0 -15px;
    height: auto;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}


[class^="col"],
[class*="col"] {
	/** Это свойство было закомментировано, но вся сетка строиться на флоатах, так что я его вернула **/
	
	
    float: left; 
    box-sizing: border-box;
    padding: 0 15px;

}

.col-1{
    width: 8.3333%;
}

.col-2{
    width: 16.6666%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.3333%;
}

.col-5{
    width: 41.6665%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.3333%;
}

.col-8{
    width: 66.6666%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 60%;
}

.col-11{
    width: 91.6666%;
}

.col-12{
    width: 100%;
}

.col-offset-1{
    margin-left: 8.3333%;
}

.col-offset-2{
    margin-left: 16.6666%;
}

.col-offset-3{
    margin-left: 25%;
}

.col-offset-4{
    margin-left: 33.3333%;
}

.col-offset-5{
    margin-left: 41.6665%;
}

.col-offset-6{
    margin-left: 50%;
}

.col-offset-7{
    margin-left: 58.3333%;
}

.col-offset-8{
    margin-left: 66.6666%;
}

.col-offset-9{
    margin-left: 75%;
}

.col-offset-10{
    margin-left: 83.3333%;
}

.col-offset-11{
    margin-left: 91.6666%;
}

/*Main-slide*/
.container {
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    width: 100%;
}

.main-slide {
    height: auto;
    background: #F9F9FC url(../img/bg-1.png) no-repeat center center;
}

.container header {
    line-height: 1.6;
    padding-top: 50px;
}


.logo {
    display: inline-block;
    float: left;
    max-width: 165px;
    height: auto;
    padding: 0 20px;
}

.head-nav {
    float: right;
    text-align: right;
}

.head-nav a:hover {
    border-top: 3px solid #ff6033;
    transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.head-nav ul{
    margin-bottom: 0px;
    margin-top: 12px;
}

.head-nav li{
    display: inline-block;
    margin: 0 14px;
	text-align: left;
}

.head-nav li a {
    color: #262626;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-slide-info {
    padding-top: 285px;
    padding-bottom: 300px;
}

.main-slide-info h2 {
    font-size: 60px;
    font-weight: 800;
}

.main-slide-info p {
    line-height: 1.6;
    margin: 0;
}

.btn-get-free {
    background-color: #ff6033;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    max-width: 250px;
}

.btn-get-free:hover {
    background-color: #C00743;
}

.btn-get-free:active {
    color: #262626;
    font-weight: 700;
}

.scroll {
   display: inline-block;
   margin-left: 50%;
   margin-bottom: 25px;
} 

/*About us*/
.about-us {
    background: #00B0B0;
}

.about-img{
    float: left;
    padding-top: 60px;
}

.about-us-info {
    color: #fff;
    padding-top: 100px;
}

.about-us-info h2 {
	margin-bottom: 15px;
}

.about-us-info a {
    font-size: 90px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.about-us-info p {
    line-height: 1.5;
    margin-top: 0;
}

/*Services*/
.services {
    background: #70bfff url(../img/bg-3.png) no-repeat 72% 38%;
}

.service-form {
	display: inline-block;
    margin-top: 100px;
    margin-bottom: 130px;
	
}

.service-button {
    margin-top: 0;
	padding-left: 28px;
	padding-right: 130px;
	width: 400px;
	height: 100px;
	color:  #262626;
    font-weight: 700;
	background: #fff;
	background-position: 93% center;
  	background-repeat: no-repeat;
	text-transform: none;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.service-button + .service-button {
	margin-top: 20px;
}

.service-button:first-child {
	margin-top: 79px;
}
.btn-shop {
	background-image: url('../img/shop.png');
	background-position: 92% center; 	
}
.btn-product {
	background-image: url('../img/product.png'); 	
}
.btn-deliver {
	background-image: url('../img/deliver.png'); 	
}
.btn-organize {
	background-image: url('../img/organize.png'); 	
}

.service-button-deliver p {
    margin: 0;
}

.service-button img, 
.service-button-deliver img{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 75%;
}

.service-button:hover, 
.service-button-deliver:hover {
    border: 2px solid #ED7F02;
}


.service-button:active, 
.service-button-deliver:active {
    color: #fff;
    font-weight: 700;
}


.services h2{
	overflow: hidden;
}

.services h2 a {
    float: right;
    font-size: 90px;
    color: #fff;
    margin-top: 320px;
    text-transform: capitalize;
}


/*Gallery*/
.gallery {
   	background: #ffe92f;
	text-align: center;
	padding: 80px 0 100px;
}


.gallery-info h2 a {
    font-size: 90px;
    font-weight: 700;
	color: #262626;
    text-transform: capitalize;
	
}

.gallery-info p {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
}

[class*="gall-img"] {
    float: left;
}

.row img:hover {
	border: 3px solid #99B7F4;
	transition: all 0.1s ease; 
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
}

.btn-gallery {
    background: #5585a2;
    margin-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
 
}

.btn-gallery:hover {
    background: #2d393f;
}

.btn-gallery:active {
    color: #ffe92f;
    font-weight: 700;
}

/*Subscribe*/
.subscribe {
    background: url(../img/bg-5.png) no-repeat center center;
    padding: 135px 0 165px 100px;
}

.subscribe-info h2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    color: #262626;
}

.subscribe-info p{
    font-weight: 400;
	margin-top: 10px;
    margin-bottom: 25px;
}

.subscribe-form input{
    font-size: 15px;
	color: #AAAAAA;
    height: 55px;
    margin-right: 50px;
    outline: none;
    border: 1px solid #262626;
}

.subscribe-form input:hover {
    background: #bcd475;
    color: #fff;
}

.btn-subscribe {
    background: #96b92c;
}

.btn-subscribe:hover {
    background: #373f52;
}

.btn-subscribe:active {
    font-weight: 700;
}

/* Blog */
.blog {
	background: #b07cf7;
	text-align: center;
}

.blog-info {
	color: #fff;
	padding: 0 15px;
	margin-bottom: 40px;
}

.blog-info h2 {
	padding-top: 90px;
	padding-bottom: 10px;
}

.blog-info h2 a {
	color: #fff;
}

.blog-post {
	position: relative;
	float: left;
	text-align: left;
}

.blog .row {
    padding-left: 60px;
	margin-bottom: 40px;
}
.post-date {
	position: absolute;
	top: 30px;
	left: 50px;
}

.post-name {
	position: absolute;
	bottom: 10px;
	left: 30px;
	max-width: 300px;
}

.post-name a{
	color: #fff;
	font-size: 20px;
}

.post-name a:hover {
	border-bottom: 2px solid #BABF4F;
}

.post-name p {
	font-size: 13px;
	font-weight: 300;
	color: #fff;
}

.btn-blog {
	background: #F72B3B;
	margin-bottom: 125px;
}
.btn-blog:hover {
	color:#b07cf7;
	background: #BABF4F;
}

/* Contact */
.contact {
	background: url(../img/bg-7.png) no-repeat center center;
	background-size: cover;
}

.contact-head  {
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.contact-head h2 {
	padding-top: 90px;
	padding-bottom: 10px;
	color: #262626;
}

.contact-head h2 a {
	color: #262626;
}

.contact-form {
	margin-top: 25px;
	float: left;
}

.contact-form input, 
.contact-form textarea {
	color: #fff;
	background: rgba(0, 196, 196, 0.5);
	width: 100%;
	padding-left: 20px;
	margin-bottom: 15px;
	border: none;
    outline: none;
}

.contact-form input {
    height: 50px;
}

.contact-form textarea {
    height: 250px;
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
}
:-ms-input-placeholder {
  color: #fff;
  font-size: 15px;
}
::-moz-placeholder {
  color: #fff;
  font-size: 15px;
}

.contact-form input:hover, 
.contact-form textarea:hover {
	background: #00c4c4;
	border-left: 4px solid #355b82;
    font-weight: 700;
}
.contact-form {
	display: inline-block;
	margin-bottom: 100px;
}

.contacts {
    display: inline-block;
	margin-top: 20px;
    margin-left: 175px;
}
.contacts h5 {
	margin: 0;
}
.contacts p {
	margin-top: 0;
	margin-bottom: 10px;
}

/*Footer*/
footer {
    background: #262626;
    color: #b9b9b9;
    width: 100%;
    text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer p {
    display: inline-block;
	
}

.footer-logo{
	width: auto;
	margin: 17px auto;
}

footer p span {
    color: #df2a4f;
}

/** Media **/
@media (max-width: 900px){

.main-slide{
    height: auto;
}

.main-slide-info{
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-us-info{
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-form{
    margin-top: 0;
    margin-bottom: 50px;
}

#services{
    margin-top: 200px;

}

.gallery{
    padding: 50px 0 50px;
}

.subscribe{
    padding: 50px 0 50px 100px;
}

.blog-info h2{
    margin-top: 0;
}

.blog-info{
    margin-bottom: 0;
}

.btn-blog{
    margin-bottom: 50px;
}

.contact-head h2{
    padding-top: 50px;
}

.post-date {
    top: 10px;
    left: 25px;
}

.post-name{
    max-width: 200px;
}

.post-name a {
    font-size: 16px;
    margin: 0;
}

.blog-post h6{
    margin: 0px;
}
}


@media (max-width: 600px){
.container p{
    font-size: 14px;
}

.main-slide-info h2, #about-us, #services,
#gallery, #subscribe, #blog, #contact{
    font-size: 38px;
}

.btn{
    font-size: 16px;
}
    
.service-button{
    width: 280px;
    height: 75px;
}

.subscribe{
    padding-left: 0;
}

.subscribe-form input,
.input-height{
    height: 45px;
    font-size: 14px;
}

.blog-info h2{
    padding-top: 50px;
}

.post-name a {
    font-size: 12px;
}

.post-name {
    bottom: 0px;
    left: 20px;
    max-width: 150px;
}

.post-date {
    top: 5px;
    left: 20px;
    width: 20%;
}

.blog-post h6{
    margin: 0px;
}

.blog-post p{
    font-size: 10px;
    margin: 0;
}
.contact-form textarea {
    height: 100px;
}

}

@media (max-width: 320px){
.container p{
    font-size: 8px;
}

.main-slide-info h2, #about-us, #services,
#gallery, #subscribe, #blog, #contact{
    font-size: 16px;
}

.main-slide-info{
    width: 150px;
}

.btn{
    font-size: 8px;
    padding: 10px 15px;
}

.scroll a img{
    max-width: 50%;
}
 
.about-us-info {
    padding-top: 25px;
    padding-bottom: 25px;
}

.service-form{
    margin-left: 0;
}

.service-button:first-child {
    margin-top: 25px;
}

.service-button {
    width: 180px;
    height: 50px;
    padding-right: 50px;
    background-size: 25%;
}

#services {
    padding-left: 80px;
    padding-right: 0px;
    margin-top: 125px;
}

.gallery{
    padding: 25px 0 25px;
}

.subscribe{
    padding: 25px 0 25px 50px;
}

.btn-gallery {
    margin-top: 15px
}

.subscribe-form input{
    margin-right: 10px;
    height: 32px;
}

.blog-info h2{
    padding-top: 25px;
    padding-bottom: 0;
}

.post-name {
    top: 40px;
    left: 20px;
}

.blog-post h6{
    font-weight: 300;
    line-height: 1;
}

.blog-post p{
    font-size: 6px;
}

.blog .row {
    margin-bottom: 10px;
    padding-left: 0;
}

.btn-blog {
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-form{
    width: 50%;
}

.contact-form input {
    height: 35px;
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: 10px;
}
:-ms-input-placeholder {
  color: #fff;
  font-size: 10px;
}
::-moz-placeholder {
  color: #fff;
  font-size: 10px;
}

.contacts{
    margin-left: 0;
}

.contact-head h2 {
    padding-top: 25px;
}

.contact-form textarea {
    height: 75px;
}
}
